html {
  overflow-y: scroll;
  font-size: 15px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #363636;
}

.site-page__header {
  margin-bottom: 60px;
}
.site-page__header-inner {
  background-color: #00d1b2;
}
.site-page__header-inner .title {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}
.site-page__header-inner .main-logo:hover {
  background-color: transparent !important;
}
.site-page__header-inner strong {
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .site-page__header-inner strong {
    display: none;
  }
}
.site-page__welcome-msg .tag {
  margin: 0 auto 0;
}
.site-page__welcome-msg .tag br {
  display: none;
}
.site-page__welcome-msg time {
  margin: 0 auto 40px;
  font-size: 0.845rem;
  text-align: center;
  display: block;
}
@media (max-width: 991px) {
  .site-page__welcome-msg .tag {
    display: block;
    text-align: center;
    height: auto;
    line-height: 1.2;
    padding: 0.7em 1em 0.6em;
  }
  .site-page__welcome-msg .tag br {
    display: block;
  }
}
.site-page__confirmed-cases {
  margin-bottom: 1em;
}
.site-page__confirmed-cases .is-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-page__confirmed-cases .title,
.site-page__confirmed-cases .subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
}
.site-page__confirmed-cases .maincounter,
.site-page__confirmed-cases .subcounter {
  display: block;
  line-height: 1;
  text-align: center;
  margin-bottom: 0.75em;
}
.site-page__confirmed-cases .maincounter {
  font-size: 3.25rem;
}
.site-page__confirmed-cases .subcounter {
  font-size: 3rem;
}
@media (max-width: 991px) {
  .site-page__confirmed-cases .title,
  .site-page__confirmed-cases .subtitle {
    margin-bottom: 1rem;
  }
  .site-page__confirmed-cases .title {
    font-size: 1.5rem;
  }
  .site-page__confirmed-cases .is-1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .site-page__confirmed-cases .main-cases {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .site-page__confirmed-cases .sub-cases {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .site-page__confirmed-cases .is-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.site-page__table-cases {
  margin-bottom: 3em;
}
.site-page__table-cases table {
  border-bottom: 1px solid #dbdbdb;
}
.site-page__table-cases table th, .site-page__table-cases table td {
  padding: 18px 20px !important;
}
.site-page__table-cases table th {
  font-family: "Quicksand", sans-serif;
  color: #ffffff !important;
}
.site-page__footer {
  padding-bottom: 3em;
  line-height: 1.3;
}
.site-page__footer .credits {
  text-align: center;
}
.site-page__footer .credits svg,
.site-page__footer .credits span {
  color: #ff0000;
}

/*!
* jquery.fixedHeaderTable. The jQuery fixedHeaderTable plugin
*
* Copyright (c) 2011 Mark Malek
* http://fixedheadertable.com
*
* Licensed under MIT
* http://www.opensource.org/licenses/mit-license.php
* 
* http://docs.jquery.com/Plugins/Authoring
* jQuery authoring guidelines
*
* Launch  : October 2009
* Version : 1.3
* Released: May 9th, 2011
*
* 
* all CSS sizing (width,height) is done in pixels (px)
*/
/* @group Reset */
.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
  /* position */
  margin: 0;
  /* size */
  padding: 0;
  /* text */
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

.fht-table {
  /* appearance */
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */
/* @group Content */
.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
  /* appearance */
  overflow: hidden;
  /* position */
  position: relative;
}

.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
  /* appearance */
  overflow: auto;
}

.fht-table-wrapper .fht-table .fht-cell {
  /* appearance */
  overflow: hidden;
  /* size */
  height: 1px;
}

.fht-table-wrapper .fht-fixed-column,
.fht-table-wrapper .fht-fixed-body {
  /* position */
  top: 0;
  left: 0;
  position: absolute;
}

.fht-table-wrapper .fht-fixed-column {
  /* position */
  z-index: 1;
}

/* @end */

/*# sourceMappingURL=base.css.map */