html {
    overflow-y: scroll;
    font-size: 15px;
}

body {
    font-family: $text__normal;
    color: $color__dark;
}

.site-page {
    &__header {
        &-inner {
            background-color: $color__primary;

            .title {
                color: $color__white;
                font-family: $text__title;
                font-size: 1.7rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            .main-logo:hover {
                background-color: transparent !important;
            }
        }
    }

    &__welcome-msg {
        .tag {
            margin: 60px auto 30px;
        }
    }

    &__confirmed-cases {
        margin-bottom: 2em;

        .title, 
        .subtitle {
            font-family: $text__title;
            font-weight: 600;
            text-align: center;
        }

        .maincounter,
        .subcounter {
            display: block;
            line-height: 1;
            text-align: center;
            margin-bottom: 0.75em;
        }

        .maincounter {
            font-size: 3.25rem;
        }

        .subcounter {
            font-size: 3rem;
        }
    }

    &__footer {
        .credits {
            text-align: center;

            svg,
            span {
                color: $color__red;
            }
        }
    }
}