html {
    overflow-y: scroll;
    font-size: 15px;
}

body {
    font-family: $text__normal;
    color: $color__dark;
}

.site-page {
    &__header {
        &-inner {
            background-color: $color__primary;

            .title {
                color: $color__white;
                font-family: $text__title;
                font-size: 1.7rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    &__welcome-msg {
        .tag {
            margin: 60px auto 30px;
        }
    }

    &__footer {
        .credits {
            text-align: center;

            svg,
            span {
                color: $color__red;
            }
        }
    }
}