* {
    font-display: swap !important;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 15px;
}

body {
    font-family: $text__normal;
    color: $color__dark;
}

.site-page {
    &__header {
        margin-bottom: 60px;

        &-inner {
            background-color: $color__primary;

            .title {
                color: $color__white;
                font-family: $text__title;
                font-size: 1.7rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            .main-logo:hover {
                background-color: transparent !important;
            }

            strong {
                display: inline-block;
                margin-right: 10px;
            }
        }

        @media (max-width: 1024px) {
            &-inner {
                strong {
                    display: none;
                }
            }
        }
    }

    &__welcome-msg {
        .tag {
            margin: 0 auto 0;

            br {
                display: none;
            }
        }

        time {
            margin: 0 auto 40px;
            font-size: 0.845rem;
            text-align: center;
            display: block;
        }

        @media (max-width: 991px) {
            .tag {
                display: block;
                text-align: center;
                height: auto;
                line-height: 1.2;
                padding: 0.7em 1em 0.6em;

                br {
                    display: block;
                }
            } 
        }
    }

    &__confirmed-cases {
        margin-bottom: 1em;

        .is-flex {
            align-items: center;
            justify-content: center;
        }

        .title, 
        .subtitle {
            font-family: $text__title;
            font-weight: 600;
            text-align: center;
        }

        .maincounter,
        .subcounter {
            display: block;
            line-height: 1;
            text-align: center;
            margin-bottom: 0.75em;
        }

        .maincounter {
            font-size: 3.25rem;
        }

        .subcounter {
            font-size: 3rem;
        }

        @media (max-width: 991px) {
            .title, 
            .subtitle {
                margin-bottom: 1rem;
            }

            .title {
                font-size: 1.5rem;
            }

            .is-1 {
                display: none;
            }
        }

        @media (max-width: 768px) {
            .main-cases {
                order: 1;
            }

            .sub-cases {
                order: 2;
            }

            .is-flex {
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
    }

    &__table-cases {
        margin-bottom: 2em;
        padding: 0 20px;
        
        table {
            border-bottom: 1px solid $color__lightgrey;

            th, td {
                padding: 12px 20px !important;
                font-weight: 600 !important;
            }

            th {
                font-family: $text__title;
                color: $color__white !important;
                background-color: $color__bitgrey;
                line-height: 1.3;
                border-top: 1px solid $color__lightgrey;
                font-weight: 700 !important;
            }
        }

        .sticky-intersect th {
            display: block !important;
            min-width: 136px !important;
            background-color: $color__darkgrey;
        }

        .axis-header {
            background-color: $color__darkgrey !important;
        }

        @media (max-width: 768px) {
            .is-1 {
                display: none;
            }
        }
    }

    &__footer {
        padding-bottom: 3em;
        line-height: 1.3;

        .credits {
            text-align: center;

            svg,
            span {
                color: $color__red;
            }
        }
    }

    @media (max-width: 768px) {
        &__header {
            margin-bottom: 30px;
        }
    } 
}

.site-main {
    &__title {
        display: block;
        margin-bottom: 20px;
        font-family: $text__title;
        font-weight: 700;
        font-size: 7em;
        text-align: center;
        text-transform: uppercase;
    }

    @media (max-width: 991px) {
        &__title {
            display: block;
            font-size: 6em;
        }     
    }

    @media (max-width: 768px) {
        &__title {
            display: block;
            font-size: 4.5em;
        }     
    }
}