.header-nav {
    &__wiki {

        .navbar {
            background-color: transparent;
        }

        .navbar.is-primary 
        .navbar-item.has-dropdown:hover 
        .navbar-link {
            background-color: none !important;
        }
        
        .wiki-separator {
            padding: 0 15px 0 0;
        }

        p {
            .txt {
                font-size: 11px;
            }
        }
    }

    @media (max-width: 991px) {
        &__wiki {
            .wiki-separator {
                padding: 0;
                border-top: 1px solid $color__lightgrey;
            }

            p {
                padding: 0 15px 15px;
            }
        }
    }    
}

.site-page {
    &__default {
        margin-bottom: 3em;

        h1, h2, h3 {
            font-family: $text__title;
        }

        h1 {
            font-size: 2.5em;
            font-weight: 700;
            margin: 0 auto 0.5em;
        }

        h2 {
            font-size: 1.75em;
            font-weight: 600;
            margin: 1em auto .7em;
            line-height: 1.1;
        }

        p {
            margin-bottom: 1em;
        }

        ul {
            padding-left: 15px;
            margin-bottom: 20px;

            li {
                list-style: disc;
                margin-left: 20px;
            }
        }

        ul.notype {
            padding-left: 0;

            li {
                list-style: none;
                margin-left: 5px;
                margin-bottom: 15px;
            }
        }

        em {
            font-family: 'Georgia', serif;
            color: $color__darkgrey;
        }

        .content-table {
            max-width: 500px;
            overflow: hidden;
            margin-bottom: 1.8em;
            border-left: 1px solid $color__lightgrey;
            border-bottom: 1px solid $color__lightgrey;
        }
        
        .content-table__th {
            font-weight: 600;
            text-transform: uppercase;
        }
        
        .content-table__th,
        .content-table__td {
            float: left;
            box-sizing: border-box;
            display: block;
            padding: 10px 20px;
            width: 50%;
            border-right: 1px solid $color__lightgrey;
            border-top: 1px solid $color__lightgrey
        }
        
        .content-table__tr .content-table__th:first-child,
        .content-table__tr .content-table__td:first-child {
            padding-left: 10px;
        }
        
        .content-table__tr:last-child {
            border-bottom: 1px solid $color__lightgrey;
        }

        .captionize,
        .captionize-list {
            display: block;
            margin-bottom: 0.5em;
            font-size: 12px;
        }

        .captionize-list {
            margin-left: 20px;
            margin-bottom: 2em;
        }

        .linkies {
            margin-bottom: 10px;

            &-text {
                margin-bottom: 1.5em;
            }
        }
    }

    @media (max-width: 768px) {
        &__default {
            padding: 0 20px;
        }    
    }
}