.header-nav {
    &__wiki {

        .navbar {
            background-color: transparent;
        }

        .navbar.is-primary 
        .navbar-item.has-dropdown:hover 
        .navbar-link {
            background-color: none !important;
        }
        
        .wiki-separator {
            padding: 0 15px 0 0;
        }

        p {
            .txt {
                font-size: 11px;
            }
        }
    }

    @media (max-width: 768px) {
        &__wiki {
            .wiki-separator {
                padding: 0;
                border-top: 1px solid $color__lightgrey;
            }

            p {
                padding: 0 15px 15px;
            }
        }
    }    
}

.site-page {
    &__default {
        margin-bottom: 3em;

        h1, h2, h3 {
            font-family: $text__title;
        }

        h1 {
            font-size: 2.5em;
            font-weight: 700;
            margin: 0 auto 0.5em;
        }

        h2 {
            font-size: 1.75em;
            font-weight: 600;
            margin: 1em auto .7em;
            line-height: 1.1;
        }

        p {
            margin-bottom: 1em;
        }

        ul {
            padding-left: 15px;
            margin-bottom: 20px;

            li {
                list-style: disc;
                margin-left: 20px;
            }
        }

        em {
            font-family: 'Georgia', serif;
            color: $color__darkgrey;
        }
    }

    @media (max-width: 768px) {
        &__default {
            padding: 0 20px;
        }    
    }
}