// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------

/// Title
/// @type Text
$text__title: 'Quicksand', sans-serif;

/// Normal Text
/// @type Text
$text__normal: 'Montserrat', sans-serif;

// -----------------------------------------------------------------------------
// COLOR
// -----------------------------------------------------------------------------

/// White
/// @type Color
$color__white: #ffffff;

/// Red
/// @type Color
$color__red: #ff0000;

/// Dark
/// @type Color
$color__dark: #363636;

/// LightGrey
/// @type Color
$color__lightgrey: #dbdbdb;

/// Bit Grey
/// @type Color
$color__bitgrey: #b5b5b5;

/// Dark Grey
/// @type Color
$color__darkgrey: #666666;

/// Primary
/// @type Color
$color__primary: #00d1b2;