// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------

/// Title
/// @type Text
$text__title: 'Quicksand', sans-serif;

/// Normal Text
/// @type Text
$text__normal: 'Montserrat', sans-serif;

// -----------------------------------------------------------------------------
// COLOR
// -----------------------------------------------------------------------------

/// White
/// @type Color
$color__white: #ffffff;

/// Dark
/// @type Color
$color__dark: #363636;

/// Primary
/// @type Color
$color__primary: #00d1b2;